<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 
 	<settings> 
 		<setting name="mapUnderscoreToCamelCase" value="true"/> 
 	</settings>
 
 	<typeAliases>
 		<typeAlias type="com.his.hisSystem.service.BoardDto" alias="boardDto"/>
 		<typeAlias type="com.his.hisSystem.service.UserDto" alias="userDto"/>
 		<typeAlias type="com.his.hisSystem.service.CodeDto" alias="codeDto"/>
 		<typeAlias type="com.his.hisSystem.service.PstDto" alias="pstDto"/>
 		<typeAlias type="com.his.hisSystem.service.IstDto" alias="istDto"/>
 		<typeAlias type="com.his.hisSystem.service.RecordDto" alias="recordDto"/>
 		<typeAlias type="com.his.hisSystem.util.FileVO" alias="fileVO"/>
 	</typeAliases>
 
</configuration>